* {
  margin: 0;
}

.app {
  height: 100%;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 20px 40px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.app__loginContainer {
  display: flex;
  align-items: center;
}

.app__footer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  padding: 5px;
  background-color: white;
  border-top: 1px solid lightgray;
  justify-content: center;
  text-align: center;
}